@import url('css/structure.css');
@import url('css/styles.css');
@import url('css/new.css');

/* nasty hack to make this outdated info go away  */
#tobereleased{  display:none }


/* changes to sreening form */

 #opt-in{
	position: static;
}

#body.homepage-alternate #nav{
	bottom : auto;
	top:110px;
	left : 5px;
	right : 5px;
	border-radius: 10px;
	width:auto;
}

#body.homepage-alternate #nav li{
	display: inline-block;
}


/* REMOVE THIS BEFORE GOING LIVE!! */
#body.homepage-alternate #nav li:first-child{
	display: none;
}

#body.homepage-alternate #nav a{
	font-size: 25px;
	padding : 8px;
}

#body.homepage-alternate #youtube{
	top:auto;
	bottom:15px;
}

#body.homepage-alternate #header{
	height:525px;
	background-size: cover;
}

#body.homepage-alternate #home-left img{
	float:left;
	margin-right: 1em;
}

#body.homepage-alternate #home-left .button img{
	border: 0;
}

#body.homepage-alternate #header #release-info{
	position: absolute;
	bottom : 15px;
	top:180px;
	right : 15px;
	width : 350px;
	border-radius : 10px;
	background-color: rgba(255,255,255,0.6);
}

#body.homepage-alternate #header #release-info h2{
    font-size: 32px;
}

#opt-in .wpcf7-not-valid-tip,
#opt-in .wpcf7-validation-errors
{
    display:none;
}

#opt-in .wpcf7-not-valid{
    border: 1px solid red;
    background-color : #ffbfbf
}

#opt-in h2 {
  font-family: CharisSILRegular,Georgia,serif;
  font-size: 14px;
  line-height: 18px;
  text-shadow: 0 0 2px #3E4327;
}

#opt-in .wpcf7-mail-sent-ok{
  display : none;
}

#opt-in .wpcf7-response-output{
	display:none !important;
}

.524 #right-column h1{
	display:none;
}